.cardItem {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 22px;
}

.cardImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-left: 25px;
}

.itemName {
    font-size: 21px;
    color: #181818;
    font-weight: 600;
    margin-left: 35px;
}

.itemDescription {
    color: grey;
    font-size: 15px;
    margin-left: 35px;
    margin-top: 5px;
}

.itemPrice {
    margin-left: 35px;
    margin-top: 10px;
    font-weight: 600;
}

@media (max-width: 600px) {
    .cardItem {
        width: 200px;
        margin-bottom: 15px;
    }
    .cardImage {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 530px) {
    .cardItem {
        width: 300px;
        margin-bottom: 15px;
    }
    .cardImage {
        width: 250px;
        height: 250px;
    }

}