.categories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 125px;
    align-items: center;
    border-bottom: solid 1px #EAEAEA;
    margin-left: 50px;
    margin-right: 50px;
}

.catList {
    flex: 3;
    height: 100%;
}


.catList ul {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.catList ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #faf8f8;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.catList ul li a {
    color: #181818;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
}

.sortBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    flex: 1;
    height: 100%;
}


.selectBlock {
    border: none;
    background: none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    margin-bottom: 10px;
    width: 130px;
}

@media (max-width: 600px) {
    .categories {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .sortBlock {
        margin-right: 15px;
    }
}



