.authButtons {
    height: 50px;
    width: 92.5%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin-right: 20px;
}

.btn,
.authBtn {
    width: 125px;
    height: 30px;
    font-weight: 600;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background: #fff;
    color: #181818;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}